* {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
.adminMain {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  /* flex-direction: row; */
  /* border: 1px solid red; */
}

.adminMain div {
  /* border: 1px solid rgb(70, 66, 66); */
}
.rightPage {
  display: grid;
  grid-template-rows: 7% 93%;
  box-shadow: -5px 0px 7px rgb(230, 229, 229);

  /* border: 1px solid rgb(0, 0, 0); */
}
.hearder {
  position: static;
  background-color: rgb(126, 12, 12);
  display: grid;
  grid-template-columns: 79% 7% 7% 7%;
  text-align: center;
  align-content: center;
}
.hearder * {
  background-color: inherit;
  color: white;
}
.hearder h6 {
  text-align: start;
  justify-content: center;
  color: rgb(217, 226, 226);
  padding-left: 50px;
}
.hearder i {
  background-color: inherit;
  font-size: 20px;
  align-content: center;
}
.content h6 i {
  display: flex;
  width: fit-content;
  align-items: center;
  margin-right: 10px;
}
.content h6 {
  margin-left: 10px;
  height: 50px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: rgb(122, 9, 9);
  border-bottom: 1px solid gray;
}
.content {
  width: 100%;
}
.leftPage {
  width: 95%;
  margin-right: 5%;
  height: 100vh;
  overflow-y: auto;
  display: grid;
  border: none;
  position: relative;
  grid-template-rows: 7% 13% 80%;
  background-color: rgb(240, 240, 240);
  box-shadow: 5px 0px 7px rgb(230, 229, 229);
}
.leftPage div {
  width: 100%;
  background-color: inherit;
}
.infor {
  display: flex;
  margin-top: 10px;
  height: 90%;
  flex-direction: row;
}
.infor div {
  border: none;
  text-align: center;
  display: flex;
  width: fit-content;
  margin-left: 20px;
  flex-direction: column-reverse;
  justify-content: center;
  /* margin-top: 2% */
}
.infor div p {
  padding-top: 20px;
}
.infor img {
  width: 70px;
  margin-left: 70px;
  border-radius: 10px;
  border: 1px solid black;
}
.menu {
  /* overflow-y: auto; */
  background-color: rgb(153, 44, 44);
  border-top: 1px solid gray;
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.menu ul {
  gap: 10px;
  height: fit-content;
  justify-content: center;
  box-shadow: 5px 5px 5px rgb(212, 211, 211);
  opacity: 0.7;
}
.menu ul li {
  display: flex;
  align-items: center;
  /* text-align: center; */
  /* justify-content: center; */
  height: 50px;
  list-style-type: none;
  border-radius: 10px;
  width: 80%;
  gap: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 5%;
  padding-left: 20px;
}
.menu ul h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu ul li:hover {
  background-color: inherit;
  scale: 1.1;
  cursor: pointer;
  color: var(--blue-color);
}
.menu ul li i {
  width: 20px;
  gap: 10px;
  background-color: inherit;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
}
.active {
  background-color: white;
  cursor: pointer;
  width: 90%;
  box-shadow: 0px 0px 10px rgb(88, 88, 88);
  opacity: 1.5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--blue-color);
}
.btnLogout {
  border: none;
}
.btnLogout:hover::after {
  opacity: 1;
  visibility: visible;
}
.btnLogout::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}
