<div class="adminMain">
  <div class="leftPage">
    <div style="text-align: center">
      <img
        style="width: 100px; border-bottom: 1px solid gray"
        src="../../../assets/img/logo.svg"
        alt=""
      />
    </div>
    <div class="infor">
      <img src="../../../assets/img/cv2.png" alt="" />
      <div>
        <h6>{{ UserId }}</h6>
        <p>{{ role }}</p>
      </div>
    </div>
    <div class="menu" style="overflow-y: auto">
      <ul>
        <h6>Thông Tin</h6>
        <li
          routerLink="department"
          (isActiveChange)="isActive($event)"
          routerLinkActive="active"
          (click)="Nhan($event)"
        >
          <i class="bi bi-diagram-3-fill"></i>Ngành Toàn Trường
        </li>
        <li
          routerLink="student"
          routerLinkActive="active"
          (isActiveChange)="isActive($event)"
          (click)="Nhan($event)"
        >
          <i class="bi bi-people-fill"></i> Sinh Viên
        </li>
        <li
          routerLink="teacher"
          routerLinkActive="active"
          (isActiveChange)="isActive($event)"
          (click)="Nhan($event)"
        >
          <i class="bi bi-person-bounding-box"></i>Giáo Viên
        </li>
        <li
          routerLink="course"
          routerLinkActive="active"
          (isActiveChange)="isActive($event)"
          (click)="Nhan($event)"
        >
          <i class="bi bi-journals"></i>Môn Học
        </li>
        <li
          routerLink="semestergroup"
          routerLinkActive="active"
          (isActiveChange)="isActive($event)"
          (click)="Nhan($event)"
        >
          <i class="bi bi-calendar2-week"></i>Kỳ Học
        </li>
      </ul>
      <ul>
        <h6>Thiết Lập</h6>
        <li
          routerLink="semesterGroupDetail"
          routerLinkActive="active"
          (isActiveChange)="isActive($event)"
          (click)="Nhan($event)"
        >
          <i class="bi bi-node-plus"></i> Thông Tin Kỳ Học
        </li>
        <li (click)="Nhan($event)"><i class="bi bi-journal-plus"></i>Mở Môn</li>
      </ul>
      <ul>
        <h6>Tài Chính</h6>
        <li (click)="Nhan($event)">
          <i class="bi bi-coin"></i>Thống Kê Tài Chính
        </li>
        <li (click)="Nhan($event)">
          <i class="bi bi-receipt-cutoff"></i>Hóa Đơn
        </li>
      </ul>
      <ul>
        <h6>Thông Tin Chi Tiết</h6>
        <li (click)="Nhan($event)">
          <i class="bi bi-file-earmark-person-fill"></i>Thông Tin Sinh Viên
        </li>
        <!-- <li>Thông Tin </li> -->
      </ul>
    </div>
  </div>

  <div class="rightPage">
    <div class="hearder">
      <h6>Trường Đại Học Thăng Long</h6>
      <img
        src="../../../assets/img/Flag_of_Vietnam.svg"
        alt=""
        style="width: 30px"
      />
      <i class="bi bi-bell-fill"></i>
      <button
        class="btnLogout"
        (click)="Logout()"
        [routerLink]="['/authenticate']"
        data-tooltip="Đăng Xuất"
      >
        <i class="bi bi-box-arrow-right"></i>
      </button>
    </div>
    <div class="content">
      <h6><i class="bi bi-arrow-bar-right"></i>{{ title }}</h6>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
